.background {
    background-image: url('/BG4.png'); /* Replace with your actual image */
    background-size: 1000px 1000px; /* Adjust based on the image size */
    background-position: 50vw 50vh;
    animation: scrollBackground 10s linear infinite;
    position: fixed;
    width: 220vw;
    height: 250vh;
    transform: translate(-75vw, -75vh) rotate(-30deg) ;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 1000px 0;
    }
}

.main {
    position: fixed;
    top: 8vh;
    width: 100%;
    height: 92vh;
    overflow-y: auto;
    overflow-x: hidden;
}